%h1= @document.title
%p= @document.content
= link_to "Update", edit_document_path(@document)
= link_to "Delete", document_path(@document), method: :delete, data: {confirm: "Are you sure ?"}
= link_to "All Documents", documents_path
= link_to "All Documents", documents_path
